* {
    padding: 0px;
     margin: 0px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body {
    margin-top: 50px;
}

main {
    min-height: 80vh;
}

.jumbotron {
    text-align: center;
    padding: 10rem 0px;
    background-image: url(https://wallpapertag.com/wallpaper/full/2/2/e/156100-full-size-easter-egg-background-2880x1800-mobile.jpg);
    background-size: 100% 100%;
    opacity: 0.8;
}   

.prodImg {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ddd;
}

fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    background-color:#ffffff;
    padding-left:10px!important;
}   

legend{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 50%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
}

.hr_login {
    position: relative;
    border-top: 1px solid #6d6e6e;
    height: 0;
}

.hr_login span {
    position: relative;
    top: -13px;
    padding: 0 10px;
    background-color: #fff;
    width: auto;
    font-size: 14px;
    color: #6d6e6e;
}

.fb_login {
    width: 85%;
}

.rememberMe {
    font-size: 10px; 
    position:absolute; 
    margin-left: 15px; 
    letter-spacing: 2px;
}

#signin-link, #TermService, #PrivacyPolicy, #register, #forgotpassword {
    text-decoration: none;
}

#signin-link {
    border-bottom: 1px dotted #2a2a2a;
}

.pass_show {
    position: relative;
    z-index: 9999;
}

.pass_show .ptxt { 
    position: absolute; 
    top: 50%; 
    right: 10px; 
    z-index: 1; 
    color: #333333; 
    margin-top: -10px; 
    cursor: pointer; 
    transition: .3s ease all; 
    z-index: 9999;
    font-size: 12px;
} 
